* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #f1f5f9;
  background-color: #fff;
}

input {
  all: unset;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2, h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

p, a, li {
  font-size: 1rem;
  font-weight: 400;
}
a {
  text-decoration: none;
}

.link {
  position: relative;
  text-decoration: none;
  color: #38bdf8;
  font-weight: 500;
  padding: 4px 0;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: #38bdf8;
  transition: width 0.3s ease;
  text-decoration: none;
}

.link:hover::after {
  text-decoration: none;
  width: 100%;
}


li {
  list-style: none;
}